{% extends 'portfolio/base.html' %}
{% block title %}Contact{% endblock %}

{% block content %}
<section style="max-width: 520px; margin: 4rem auto;">
    <p class="section-title">Contact</p>

    <h2 style="color:#fff; font-weight:700; margin-bottom:0.5rem;">
        Get in touch
    </h2>

    <p style="color:#666; margin-bottom:2rem;">
        Fill out the form below and I'll get back to you as soon as possible.
    </p>

   <form id="contact-form" class="contact-form">

    <input type="hidden"
           name="access_key"
           value="64604f77-86fd-41ed-a88c-70a27033a26b">

    <div class="form-group">
        <label>Your Name</label>
        <input type="text" name="name" required>
    </div>

    <div class="form-group">
        <label>Your Email</label>
        <input type="email" name="email" required>
    </div>

    <div class="form-group">
        <label>Message</label>
        <textarea name="message" rows="6" required></textarea>
    </div>

   <button type="submit" class="contact-btn" id="submit-btn">
    Send Message
</button>

<p id="result-message"></p>
</form>
</section>
{% endblock %}

{% block extra_js %}
<script>

const form = document.getElementById("contact-form");
const button = document.getElementById("submit-btn");

form.addEventListener("submit", async (e) => {
    e.preventDefault();

    button.disabled = true;
    button.classList.add("loading");
    button.innerHTML = `
        <span class="spinner"></span>
        Sending...
    `;

    const formData = new FormData(form);

    try {
        const response = await fetch(
            "https://api.web3forms.com/submit",
            {
                method: "POST",
                body: formData
            }
        );

        const data = await response.json();

        if (data.success) {
            form.reset();

            button.classList.remove("loading");
            button.classList.add("success");
            button.innerHTML = "✓ Message Sent!";

            setTimeout(() => {
                button.disabled = false;
                button.classList.remove("success");
                button.innerHTML = "Send Message";
            }, 5000);
        } else {
            button.disabled = false;
            button.classList.remove("loading");
            button.innerHTML = "❌ Try Again";
        }
    } catch (error) {
        button.disabled = false;
        button.classList.remove("loading");
        button.innerHTML = "❌ Something Went Wrong";
    }
});

</script>
{% endblock %}